
#nav{
   /* margin:20px; */
   margin-left: 20%;

   /* background-image: url(https://tse3.mm.bing.net/th?id=OIP.fElN5K05uBgyKP12_S12fgHaEo&pid=Api&P=0&h=220); */
}
#nav>a{
   text-decoration: none;
   color: black;
   font-size: 18px;
   font-family: Arial, Helvetica, sans-serif;
   padding: 20px;

}
#nav a{
   color: black;

   text-align: center;
   position: relative;
   top;
   margin-left: 10px;
}
#dashboard{
   background-color: white;
   border:2px solid black;
   font-weight:500;
   height: 25px;
   color:  black;
   font-size: medium;
   width: 120px;
   border-radius: 10px;
   /* margin-right: 12px; */
   margin-left: 100px;
}
#Apply{
   background: linear-gradient(to right,blue);
   color: black;
   font-weight: 500;
   font-size: medium;
   font-family: Arial, Helvetica, sans-serif;
   border: 2px solid black;
   height: 25px;
   width: 120px;
   border-radius: 10px;
   margin-left: 10px;
}

#head{
    text-align: center;
    text-shadow: 0px 0px 15px rgb(242, 242, 250);
    font-size: 80px;
    text-decoration: underline;
    background-color: rgb(23, 176, 236);
    width: 100%;
    padding: 10px;
    /* margin: 0px; */
    /* color: white; */
    box-sizing: border-box;
    border-style: groove;
    border-color: black;
    border-radius: 50%;
    background-image: url(https://tse3.mm.bing.net/th?id=OIP.fElN5K05uBgyKP12_S12fgHaEo&pid=Api&P=0&h=220);
   background-size: 100% 100%;
   background-repeat: no-repeat;
}
#fom{
     text-align: justify;
    color: rgb(247, 237, 237);
    background-color: rgb(86, 215, 211);
    /* margin: 30px; */
    padding: 20px 80px;
    box-sizing: border-box;
    border-style: groove;
    border-color: black;
    box-sizing: border-box;
    border-radius: 50px;
    background-image: url(https://tse3.mm.bing.net/th?id=OIP.fElN5K05uBgyKP12_S12fgHaEo&pid=Api&P=0&h=220);
     background-size: 100% 100%;
      
}
#name1{
    background-color: azure;

}
#name2{


   background-color: azure;
}
#name3{
 
   background-color: azure;
}
#body{
    background-color: rgb(183, 225, 237);
    background-image: url(https://tse3.mm.bing.net/th?id=OIP.IFYg9Ua92DKv5SFJ3zTXwQHaFj&pid=Api&P=0&h=220);
   background-position: center;
   background-size: 100% 100%;
}
.dashboard{
   color: aliceblue;
   background-color: rgb(83, 83, 247);
   margin:10px;
}